---
layout: default
---


<div class="container" id="aboutpop">
  <div class="row">
    <div class="col-6">
		Open Tribes allows anyone to find small groups of like-minded people to learn, work, and carry out research together. <br><br>It's 100% free, no registration required.
    </div>
    <div class="col-6" style="maring: 0 auto;">
   {% raw %}<form action="https://tinyletter.com/opentribes" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/opentribes', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">You can, however, enter your email address below to get notified when a new project starts</label></p><br><input type="text" name="email" id="tlemail" /><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /></form>{% endraw %}
    </div>
  </div>
</div>

<div class="grid">
  <div class="column">Col 1</div>
  <div class="column">Col 2</div>
</div>         


<h3 class="section-title">Project Proposals</h3>
<dl class="education">
    {% for project in site.data.projects %}
        <dt>
		<p class="title"><a href="/{{ project.slug }}">{{ project.title }}</a></p>
			      <div class="wrapper2">
					<div class="progress-bar2">
					<span class="progress-bar-fill" style="width: {{ project.progress }};"></span>
					</div>
				      	
					{{ project.length }} <br>
					<a href="types#{{ project.typeslug }}">{{ project.type }}</a>
				</div>
        </dt><!--
        --><dd>
            <p>{{ project.description }}</p>
		<a href="/{{ project.slug }}">learn more » </a>
        </dd>
    {% endfor %}
</dl>


<h3 class="section-title">Active Projects</h3>
<dl class="education">
    {% for project in site.data.activeprojects %}
        <dt>
		<p class="title"><a href="/{{ project.slug }}">{{ project.title }}</a></p>
			      <div class="wrapper2">
					<div class="progress-bar2">
					<span class="progress-bar-fill" style="width: {{ project.progress }};"></span>
					</div>
				      	
					{{ project.length }} <br>
					<a href="types#{{ project.typeslug }}">{{ project.type }}</a>
				</div>
        </dt><!--
        --><dd>
            <p>{{ project.description }}</p>
		<a href="/{{ project.slug }}">learn more » </a>
        </dd>
    {% endfor %}
</dl>
