---
layout: default
---




<a href="/about">
<div class="box2">

	 <p>A subject like quantum mechanics or linear algebra can be just as intimdating as a completely foreign country. But with an experienced travel guide at your side, no subject is out of reach. </p>
	    
	<p>Here at the Intellectual Explorers Club you can find experienced guides, join already planned expedition and connect with like-minded people. </p>    
	<div class="box2__horizontal"></div>
	<div class="box2__vertical"></div>
</div>
</a>
	
<div class="grid">
  <div class="column">
	  <h3 class="section-title">Planned Expeditions</h3>
	  {% for project in site.data.projects %}
	  	<a href="/{{ project.slug }}">
	  	<div class="homecard">
		<p class="title">{{ project.title }}</p>
	        <p>{{ project.description }}</p>
		</div>
		</a>
	   {% endfor %}
   </div>
  <div class="column">
	  <h3 class="section-title">Guides</h3>
	  {% for guide in site.guides %}
	  	<a href="/{{ guide.slug }}">
	  	<div class="homecard">
			<img src="{{ guide.image }}" style="float: right;" height="42" width="42">
		<div class="guideimage" style="background-image: url({% if guide.image contains "://" %}{{ guide.image }}{% else %} {{site.baseurl}}/{{ guide.image}}{% endif %}); height: 200px;    background-size: cover;    background-repeat: no-repeat;"></div>     
		<p class="title">{{ guide.title }}</p>
	        <p>{{ guide.description }}</p>
		</div>
		</a>
	   {% endfor %}
   </div>
</div>         


