// @name Layout
// @description All layout settings and styles

// Default spacing unit


.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 $spacer;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: ($spacer * 2);
    text-align: center;
    position: relative;
}
