// @name Layout
// @description All layout settings and styles

// Default spacing unit

.grecaptcha-badge { 
    visibility: hidden;
}

#test-form input {
width: 95%;
margin-bottom:10px;
padding:8px;
    
}

.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 $spacer;
}

.conversational-form {
 background: #fffff8!important;
}

.cf-input {
 background: #fffff8!important;
}


.section-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    position: relative;
}
