
//
// VARIABLES
//

$spacer: 20px;

// Colors
$blue: #105e62;
$red: #b5525c;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
@import url(https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,700,900);


$helvetica: "Lora", Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
